[flake8]
ignore = W605,
    C901,
    #is too complex
    E741,
    # ambiguous variable name
    E124,
    # closing bracket does not match visual indentation
    E402,
    # module level import not at top of file
    W503,
    # line break before binary operator
    W504,
    # line break after binary operator

exclude =
    .git,
    __pycache__,
    build,
    build_dir,
    script,
    lint_env,
    dist,
    examples/not_maintained

max-complexity = 15
max-line-length = 127
